.ember-application {
  font-size: 32px;
  font-family: sans-serif;
}

.ember-application h2 {
  font-size: 1em;
}

.ember-application h3 {
  font-size: 1em;
  color: #aaa;
}

.ember-application ol {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none outside;
}

.ember-application li {
  display: block;
  position: relative;
  background: pink;
  margin: 4px 0;
  padding: 4px;
}

li.horizontal {
  display: inline-block;
  cursor: move;
  background-color: #00A6E7;
  margin: 4px;
  padding: 5px;
}

.ember-application footer {
  margin-top: 2em;
  font-size: .5em;
}

.sortable-item {
  transition: all .125s;
}

.sortable-item.is-dragging {
  background: red;
  transition-duration: 0s;
  z-index: 10;
}

.sortable-item.is-dropping {
  background: #f66;
  z-index: 10;
}

.sortable-item .handle {
  position: absolute;
  padding: 0 .5em;
  top: 0; right: 0; bottom: 0;
  background: rgba(127, 0, 0, .5);
  color: pink;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-example .sortable-item.is-dropping {
  background: #f66;
  z-index: 10;
  transition-duration: 0s;
}
