.demo {
  font-size: 32px;
  font-family: sans-serif;
}

.demo h2 {
  font-size: 1em;
}

.demo h3 {
  font-size: 1em;
  color: gray;
}

.demo ol {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none outside;
}

.demo footer {
  margin-top: 2em;
  font-size: 0.5em;
}

.demo .sortable-item {
  padding: 4px;
  transition: all 0.125s;
}

.demo .sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
}

.demo .sortable-item .handle {
  padding: 0 0.5em;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-demo .sortable-item {
  display: block;
  position: relative;
  background: pink;
  margin: 4px 0;
}

.vertical-demo .sortable-item.is-dragging {
  background: red;
}

.vertical-demo .sortable-item.is-dropping {
  background: #f66;
  z-index: 10;
}

.vertical-demo .sortable-item .handle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(71 1 1 / 50%);
  color: pink;
}

.vertical-spacing-demo .sortable-item,
.vertical-distance-demo .sortable-item,
.vertical-doc-auto-scroll-demo .sortable-item {
  display: block;
  position: relative;
  background: #58d3f7;
  width: 50%;
  line-height: 50px;
  margin: 5px auto;
  text-align: center;
}

.vertical-spacing-demo .sortable-item.is-dragging,
.vertical-distance-demo .sortable-item.is-dragging {
  background: #a9e2f3;
}

.horizontal-demo {
  overflow: auto;
  white-space: nowrap;
}

.horizontal-doc-auto-scroll-demo {
  white-space: nowrap;
}

.horizontal-doc-auto-scroll-demo ol {
  padding-left: 0;
}

.horizontal-doc-auto-scroll-demo .sortable-item {
  width: 70px;
}

.grid-demo .row {
  display: flex;
  flex-wrap: wrap;
}

.grid-demo .row .row {
  margin-left: -5px;
  margin-right: -5px;
}

.grid-demo .col {
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
  box-sizing: border-box;
  position: relative;
}

.grid-demo .row > .col {
  padding: 0;
}

.grid-demo .col-120 {
  width: 120px;
  flex: 0 0 auto;
}

.grid-demo .sortable-item .card,
.grid-demo-2 .sortable-item,
.horizontal-demo .sortable-item,
.horizontal-doc-auto-scroll-demo .sortable-item {
  display: inline-block;
  position: relative;
  cursor: move;
  background-color: hsl(197deg 100% 45%);
  margin: 0 4px;
}

.grid-demo .sortable-item .card {
  width: 100%;
  height: 120px;
  background-color: hsl(197deg 100% 45%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-demo .sortable-item.is-dragging .card,
.grid-demo-2 .sortable-item.is-dragging,
.horizontal-demo .sortable-item.is-dragging {
  background: hsl(197deg 100% 35%);
}

.grid-demo .sortable-item.is-dropping .card,
.grid-demo-2 .sortable-item.is-dropping,
.horizontal-demo .sortable-item.is-dropping {
  background: hsl(197deg 100% 40%);
  z-index: 10;
}

.grid-demo-2 ol {
  display: flex;
  flex-wrap: wrap;
}

.grid-demo-2 .sortable-item {
  width: 120px;
  height: 120px;
  margin: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-demo table {
  position: relative;
  border-collapse: separate;
  border-spacing: 2px;
}

.table-demo td,
.table-demo th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0;
  background: white;
}

.table-demo td:last-child,
.table-demo th:last-child {
  padding: 0 1em 0 4px;
}

.table-demo .sortable-item .handle {
  display: block;
  background: transparent;
  color: black;
}

.scrollable-demo .sortable-container {
  height: 300px;
  overflow-y: auto;
}

.scrollable-demo ol {
  height: 500px;
}

.scrollable-demo .sortable-item {
  display: block;
  position: relative;
  background: pink;
  margin: 4px 0;
}

.scrollable-demo .sortable-item.is-dragging {
  background: red;
}

.scrollable-demo .sortable-item.is-dropping {
  background: #f66;
  z-index: 10;
}

.scrollable-demo .sortable-item .handle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(71 1 1 / 50%);
  color: pink;
}

#ember-testing {
  transform: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.sortable-item--active {
  outline: 2px solid purple;
}

.sortable-handle-up,
.sortable-handle-down,
.sortable-handle-left,
.sortable-handle-right {
  position: relative;
}

.sortable-handle-up::before,
.sortable-handle-down::after,
.sortable-handle-left::before,
.sortable-handle-right::after {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
}

.sortable-handle-up::before {
  top: -10px;
  border-bottom-color: #000;
}

.sortable-handle-down::after {
  bottom: -10px;
  border-top-color: #000;
}

.sortable-handle-left::before {
  top: 50%;
  left: -10px;
  border-right-color: #000;
}

.sortable-handle-right::after {
  top: 50%;
  left: calc(100% + 10px);
  border-left-color: #000;
}

.word-break {
  word-wrap: break-word;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.inline-flex {
  display: inline-flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.mr-5 {
  margin-right: 5px;
}