<header>
  <h2>Ember Sortable</h2>
</header>

<main>
  {{#sortable-group tagName="ol" onChange="update" as |group|}}
    {{#each model.items as |item|}}
      {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
        {{item}}
        <span class="handle">&vArr;</span>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
</main>

<footer>
  <p>
    <code>
      model.items:<br>
      {{#each model.items as |item|}}
        {{item}}
      {{/each}}
    </code>
  </p>

  <p>
    <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
  </p>
</footer>
