<header>
  <h2>Ember Sortable</h2>
</header>

<main>
  <h3>Vertical Sorting</h3>
  {{#sortable-group tagName="ol" model=model onChange="updateVertical" as |group|}}
    {{#each model.vertical as |item|}}
      {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
        {{item}}
        <span class="handle">
          <span>&vArr;</span>
        </span>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
  <h4>Results</h4>
  <p>
    <code>
      Vertical items:<br>
      {{#each model.vertical as |item|}}
        {{item}}
      {{/each}}
    </code>
  </p>
  <h3>Horizontal Sorting</h3>
  <div class="Horizontal-example">
    {{#sortable-group tagName="ol" direction='x' onChange="updateHorizontal" as |group|}}
      {{#each model.horizontal as |item|}}
        {{#sortable-item tagName="li" model=item group=group class="horizontal"}}
          {{item}}
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}
  </div>
  <h4>Results</h4>
  <p>
    <code>
      Horizontal items:<br>
      {{#each model.horizontal as |item|}}
        {{item}}
      {{/each}}
    </code>
  </p>
</main>

<footer>
  <p>
    <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
  </p>
</footer>
