<h2>Ember Sortable</h2>

{{#sortable-group tagName="ol" onChange="update" as |group|}}
  {{#each model as |item|}}
    {{#sortable-item tagName="li" model=item group=group}}
      {{item.name}}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
