<header>
  <h2>Ember Sortable</h2>
</header>

<main>
  <h3>Vertical</h3>

  {{#sortable-group tagName="ol" onChange="update" as |group|}}
    {{#each model.items as |item|}}
      {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
        {{item}}
        <span class="handle">
          <span>&vArr;</span>
        </span>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}

  <h3>Horizontal</h3>

  {{#sortable-group tagName="ol" direction="x" onChange="update" as |group|}}
    {{#each model.items as |item|}}
      {{#sortable-item tagName="li" model=item group=group class="horizontal"}}
        {{item}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
</main>

<footer>
  <p>
    <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
  </p>
</footer>
