<h2>Ember Sortable</h2>

<ol>
  {{#sortable-group onChange="update" as |group|}}
    {{#each model as |item|}}
      {{#sortable-item tagName="li" model=item}}
        {{item.name}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
</ol>
